{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta httpequiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />
    <title>STAR WARS FAVOURITES</title>
</head>

<br><br><br><br>

<h1>STAR WARS UNIVERSE</h1>

{% if user.is_authenticated %}
    <h2>Welcome, {{user.username}}!</h2>
    <div class="button-group">
        <a class="logout-button" href="{% url 'logout' %}"><span>LOGOUT</span></a>
    </div>
{% else %}
    <div class="button-group">
        <a class="login-button" href="{% url 'login' %}"><span>LOGIN</span></a>
        <a class="register-button" href="{% url 'register' %}"><span>REGISTER</span></a>
    </div>
{% endif %}

<body bgcolor="gray">
    
    <form action="/search/" method="post">
        <div class="inline">
            {% csrf_token %}
            <label for="searchQuery">Search: </label>
            <input type="text" name="searchQuery">
            <input type="submit" value="search" name="search">
        </div>
    </form>
    
    <br><br><br><br><br><br>
    
    <div class="inline">
        {% if user.is_authenticated %}
            <a class="favourites-button" href="{% url 'favourites' %}"><span>FAVOURITES</span></a>
        {% endif %}
        <a class="planets-button" href="{% url 'planets' %}"><span>PLANETS</span></a>
        <a class="films-button" href="{% url 'films' %}"><span>FILMS</span></a>
    </div>
    
    {% for message in messages %}
        <h3> {{message}} </h3><br><br>
    {% endfor %}
    
</body>
    
    
</html>

