{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta httpequiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />
    <title>STAR WARS PLANETS</title>
</head>

<br><br><br><br>

{% if user.is_authenticated %}
    <h2>{{user.username}}</h2>
    <div class="button-group">
        <a class="logout-button" href="{% url 'logout' %}"><span>LOGOUT</span></a>
    </div>
{% else %}
    <div class="button-group">
        <a class="login-button" href="{% url 'login' %}"><span>LOGIN</span></a>
        <a class="register-button" href="{% url 'register' %}"><span>REGISTER</span></a>
    </div>
{% endif %}

<h1>Planets</h1>

<body bgcolor="gray">

    <div class="inline">
        <a class="logout-button" href="{% url 'home' %}"><span>HOME</span></a>
        <a class="films-button" href="{% url 'films' %}"><span>FILMS</span></a>
        {% if user.is_authenticated %}
            <a class="favourites-button" href="{% url 'favourites' %}"><span>FAVOURITES</span></a>
        {% endif %}
    </div>
    
    <form action="/planets/search/" method="post">
        <div class="inline">
            {% csrf_token %}
            <label for="searchQuery">Search: </label>
            <input type="text" name="searchQuery">
            <input type="submit" value="SEARCH" name="search">
        </div>
    </form>
    
    {% for message in messages %}
        <h3> {{message}} </h3>
    {% endfor %}
    
    <ul class="enumerate">
    {% for planet in resources %}
        <li>
            <div class="planets-items">    
                <form id = "{{planet.url}}" action="/planets/planet/" method="post">                  
                    {% csrf_token %}
                    <input type="hidden" name="planet_url" value="{{planet.url}}">     
                    {% if planet.is_favourite%}
                        <input type="hidden" name="planet_favourite" value="{{planet.is_favourite}}"> 
                        <span style="color:#ffcc00;"><a href="#" onclick="document.forms['{{planet.url}}'].submit();" >{{planet.name}}</a></span>
                        <br>
                        <span style="font-size: 8px;color:#ffcc00;">IS A FAVOURITE!</span><br>
                    {% else %}
                        <input type="hidden" name="planet_favourite" value="{{planet.is_favourite}}"> 
                        <span><a href="#" onclick="document.forms['{{planet.url}}'].submit();" >{{planet.name}}</a></span>
                        <br>
                    {% endif %}                   
                    <div class="inline">
                        <span style="font-size: 8px;">date created: {{planet.created}}</span>
                        <span style="font-size: 8px;">last updated: {{planet.updated}}</span>
                    </div>  
                </form>             
            </div>
            {% if not planet.is_favourite%}
            <div class="favourites-button">
                <form id = "{{planet.name}}" action="/favourites-add/" method="post">
                
                    {% csrf_token %}
                    <input type="hidden" name="resource_name" value="{{planet.name}}">
                    <input type="hidden" name="resource_url" value="{{planet.url}}">
                    <input type="hidden" name="resource_type" value="{{type}}">
  
                    <a href="#" onclick="document.forms['{{planet.name}}'].submit();" >Add to Favourite</a> 
                </form>
            </div>
            {% endif %}
            <br><br>
        </li>
    {% endfor %}
    </ul>
    
</body>
    
    
</html>

